# Flutter/Dart related
build/
*.g.dart
*.freezed.dart
*.part.dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# Logs and temp files
*.log
*.tmp
*.swp

# OS-specific
.DS_Store  # Mac
Thumbs.db  # Windows

# Optional: Uncomment if you want to ignore pubspec.lock
# pubspec.lock

# Android specific
android/.gradle/
android/app/build/
android/local.properties

# iOS specific
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Pods/